<h1>Hello everyone!</h1>
<ul>
    {{#each allTweets}}
    <li>
        <strong><a href="/user/{{User.id}}">{{User.username}}</a></strong>: {{body}}

        {{#each Tags}}
        <a href="/tag/{{id}}"><button>{{name}}</button></a>
        {{/each}}

    </li>
    {{/each}}
</ul>