<h1>Welcome back {{user.username}}!</h1>
<form id="newTweet">
    <textarea id="newTweetInput" placeholder="new tweet here...."></textarea>
    <button>Tweet!</button>
</form>
<h2>Your tweets:</h2>
<datalist id="allTags">
    {{#each tags}}
    <option>{{name}}</option>
    {{/each}}
</datalist>
{{#each user.Tweets}}
<div class="tweetBox">
    <div class="imageBox">
    </div>
    <div class="content">
        <h2><a href="/user/{{../user.id}}">{{../user.username}}</a>{{formatDate createdAt}}</h2>
        <p class="toHide">{{body}}</p>
        <button class="editBtn">Edit</button> <button class="delBtn" data-id={{id}}>Delete</button>
        <div class="editForm hide">

            <h3>Edit this Tweet</h3>
            <form action="editTweetForm">
                <input type="hidden" value="{{id}}">
                <textarea>{{body}}</textarea>
                <button>Update!</button>
            </form>
            <form class="addTagForm">
                <input type="hidden" value={{id}}>
                <input type="text" list="allTags" placeholder="tag">
                <button>Add Tag</button>
            </form>

        </div>
        <div class="tagsDiv">
        {{#each Tags}}
            <a href="/tag/{{id}}" class="toHide"><button>{{name}}</button></a>
            <button class="delTag hide" data-tagid={{id}} data-tweetid={{../id}}>Remove {{name}}</button>
        {{/each}}
        </div>
    </div>
</div>
{{/each}}


<script src="/js/profile.js"></script>